@font-face {
	font-family: Museo-Sans-Cyrl;
	src: url(../fonts/MuseoSansCyrl.otf);
	font-weight: 500;
}

@font-face {
	font-family: Museo-Sans-Cyrl;
	src: url(../fonts/Museo-Sans-Cyrl-300.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Museo-Sans-Cyrl;
	src: url(../fonts/Museo-Sans-Cyrl-700.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Museo-Sans-Cyrl;
	src: url(../fonts/Museo-Sans-Cyrl-900.ttf);
	font-weight: 900;
}
